<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <strong> Aqui começa o mundo!</strong>

    <br>
    <p>
      <ion-button routerLink= "/home">Sair</ion-button>
      <ion-button routerLink= "/tarefa">Tarefas</ion-button>
      <ion-button routerLink= "/contato">Contatos</ion-button>
    </p>

  </div>
</ion-content>

<ion-footer>
  <div id="container">
    <strong>
      No controle 
      <ion-icon name="logo-tux"></ion-icon>
  </strong>
  </div>
</ion-footer>