<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button routerLink="/inicio">
     
      <ion-icon name="arrow-undo-outline"></ion-icon>

    </ion-button>   
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button routerLink="/edita-contato">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  
    <ion-title>contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
  <div id="container">
    <strong>
      No controle 
      <ion-icon name="logo-tux"></ion-icon>
  </strong>
  </div>
</ion-footer>